[Unit]
Description=Handles steam big picture for Bluetooth/USB controllers
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStartPre=/bin/sh -c 'systemctl --user import-environment DISPLAY WAYLAND_DISPLAY XAUTHORITY'
ExecStart=__SCRIPT_PATH__
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
