[Unit]
Description=Handles steam big picture for Bluetooth/USB controllers
After=graphical-session.target

[Service]
ExecStart=__SCRIPT_PATH__
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target
